<html>
  <head>
    {% if title %}
    <title>{{title}} - Tagging</title>
    {% else %}
    <title>Tag System</title>
    {% endif %}
  </head>
  <body>
    <div><a href="/index">Home</a></div>
    <div><a href="/tag">Add Tag</a></div>
    <div><a href="/">List Tags</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>